<!-- Wappler include fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="fili" appConnect="local" -->

<div class="col-12 fili-wrapper">
    <img src="/assets/images/edd filigrane blanc.svg" class="fili-img">

</div>