.nav-link{
text-transform: uppercase;
font-weight: 800;
border-radius: 10px;
margin-bottom: 10px;
padding: 15px;
width: 100%;
background-color: white;
backdrop-filter: blur(20px);
align-items: center;
h5,.fas{
    color: var(--primary);
   }
   .fas{
    opacity: 0%;
    font-size: x-large;
}
}
.nav-link:hover {
    background-color: var(--primary);
    h5,.fas{
        color: white !important;
       }
       .fas{
        opacity: 100%;
        transition: opacity 1s;
        animation: slide-left 0.5s ease forwards;

           }
}

.active {
    background-color: var(--primary) !important;
   h5,.fas{
    opacity: 100%;

    color: white !important;
   }

}
@keyframes slide-left {
    /* use % to specify the animation at different stages (in this case, 0% and 100%) */
    0% {
      transform: translateX(-20px);
    }
    100% {
      /* adjust the value to control how much the text moves */
      transform: translateX(0);
    }
  }